In [1]:
import pandas as pd

In [2]:
alunos = {'Nome':['Luiza', 'Maria', 'Joana'], 
          'Matricula':['001','002','003'], 
          'Nota':[9, 8, 4.5]}

#trandformar dicionario em dataframe
alunos_df = pd.DataFrame(alunos)

In [3]:
print(alunos_df)

    Nome Matricula  Nota
0  Luiza       001   9.0
1  Maria       002   8.0
2  Joana       003   4.5

In [4]:
display(alunos_df)

    Nome Matricula  Nota
0  Luiza       001   9.0
1  Maria       002   8.0
2  Joana       003   4.5

In [8]:
students_df = pd.read_csv("Student Mental health.csv")
display(students_df)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [10]:
display(students_df.head(3))

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No

In [11]:
print(students_df.shape)

(101, 11)

In [12]:
display(students_df.describe())

             Age
count  100.00000
mean    20.53000
std      2.49628
min     18.00000
25%     18.00000
50%     19.00000
75%     23.00000
max     24.00000

In [15]:
genero = students_df['Choose your gender']
display(genero)

0      Female
1        Male
2        Male
3      Female
4        Male
        ...
96     Female
97       Male
98     Female
99     Female
100      Male
Name: Choose your gender, Length: 101, dtype: object

In [16]:
genero_idade = students_df[['Choose your gender', 'Age']]
display(genero_idade)

    Choose your gender   Age
0               Female  18.0
1                 Male  21.0
2                 Male  19.0
3               Female  22.0
4                 Male  23.0
..                 ...   ...
96              Female  21.0
97                Male  18.0
98              Female  19.0
99              Female  23.0
100               Male  20.0

[101 rows x 2 columns]

In [17]:
display(students_df.loc[1])

Timestamp                                          8/7/2020 12:04
Choose your gender                                           Male
Age                                                          21.0
What is your course?                            Islamic education
Your current year of Study                                 year 2
What is your CGPA?                                    3.00 - 3.49
Marital status                                                 No
Do you have Depression?                                        No
Do you have Anxiety?                                          Yes
Do you have Panic attack?                                      No
Did you seek any specialist for a treatment?                   No
Name: 1, dtype: object

In [18]:
display(students_df.loc[1:5])

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
5,8/7/2020 12:31,Male,19.0,Engineering,Year 2,3.50 - 4.00,No,No,No,Yes,No

In [19]:
display(students_df.loc[genero == 'Female'])

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
6,8/7/2020 12:32,Female,23.0,Pendidikan islam,year 2,3.50 - 4.00,Yes,Yes,No,Yes,No
7,8/7/2020 12:33,Female,18.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
8,8/7/2020 12:35,Female,19.0,Human Resources,Year 2,2.50 - 2.99,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
94,13/07/2020 17:30:44,Female,24.0,Fiqh,Year 3,0 - 1.99,No,No,No,Yes,No
95,13/07/2020 19:08:32,Female,18.0,Islamic Education,year 1,3.50 - 4.00,No,No,No,No,No
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No

In [20]:
display(students_df.loc[genero == 'Female'].head(5))

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
6,8/7/2020 12:32,Female,23.0,Pendidikan islam,year 2,3.50 - 4.00,Yes,Yes,No,Yes,No
7,8/7/2020 12:33,Female,18.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
8,8/7/2020 12:35,Female,19.0,Human Resources,Year 2,2.50 - 2.99,No,No,No,No,No

In [22]:
fem_students_df = pd.DataFrame(students_df.loc[genero == 'Female'])
display(fem_students_df)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
6,8/7/2020 12:32,Female,23.0,Pendidikan islam,year 2,3.50 - 4.00,Yes,Yes,No,Yes,No
7,8/7/2020 12:33,Female,18.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
8,8/7/2020 12:35,Female,19.0,Human Resources,Year 2,2.50 - 2.99,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
94,13/07/2020 17:30:44,Female,24.0,Fiqh,Year 3,0 - 1.99,No,No,No,Yes,No
95,13/07/2020 19:08:32,Female,18.0,Islamic Education,year 1,3.50 - 4.00,No,No,No,No,No
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No

In [25]:
fem_students_age_course_df = pd.DataFrame(students_df.loc[genero == 'Female',['Age','What is your course?']])
display(fem_students_age_course_df)

     Age What is your course?
0   18.0          Engineering
3   22.0                 Laws
6   23.0     Pendidikan islam
7   18.0                  BCS
8   19.0      Human Resources
..   ...                  ...
94  24.0                 Fiqh
95  18.0    Islamic Education
96  21.0                  BCS
98  19.0             Nursing
99  23.0     Pendidikan Islam

[75 rows x 2 columns]